:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.Board {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.Row {
  display: flex;
  gap: 1px;
}

.Cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: thin solid grey;
  height: 2rem;
  width: 2rem;
  background: #b9b9b9;
}

[data-neighbors] { font-weight: bold; }
[data-neighbors="1"] { color: #0000ff; }
[data-neighbors="2"] { color: #008200; }
[data-neighbors="3"] { color: #fe0000; }
[data-neighbors="4"] { color: #000084; }
[data-neighbors="5"] { color: #840000; }
[data-neighbors="6"] { color: #008284; }
[data-neighbors="7"] { color: #840084; }
[data-neighbors="8"] { color: #757575; }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
